[submodule "Simple_Logger"]
	path = Simple_Logger
	url = https://github.com/lunchbox-boy/Simple_Logger.git
[submodule "V_Engine/lib/Simple_Logger"]
	path = V_Engine/lib/Simple_Logger
	url = https://github.com/lunchbox-boy/Simple_Logger.git
[submodule "V_Engine/lib/GLFW"]
	path = V_Engine/lib/GLFW
	url = https://github.com/lunchbox-boy/glfw.git
[submodule "V_Engine/lib/imgui"]
	path = V_Engine/lib/imgui
	url = https://github.com/APTanner/imgui.git
[submodule "V_Engine/lib/glm"]
	path = V_Engine/lib/glm
	url = https://github.com/APTanner/glm.git
